{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
<h1>Mes projets</h1>
<div class="dashboard-container">
    <a class="card mx-auto" style="width: 50rem" href=" {{ path('project_bathroom') }}">
        <img class="card-img-top" src="{{ asset('build/images/home1.png') }}" alt="bathroom image">
        <div class="card-body">
            <h2 class="card-text text-center">Mon projet salle de bain</h2>
            <div class="d-flex flex-inline justify-content-around">
                <div>
                    <p class="fw-bold">Status</p>
                    <p class="fst-italic">en cours</p>
                </div>
                <div>
                    <p class="fw-bold">Total actuel :</p>
                    <p class="fst-italic">{{ total }}€</p>
                </div>
            </div>
        </div>
    </a>
</div>
{% endblock %}